body {
  padding: 20px;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:root {
  --primary-blue: #4B607F;
  --primary-white: #E8D8C9;
  --primary-orange: #F3701E;
}


@media (prefers-color-scheme: light) {
  body {
    background: var(--primary-white);
    color: var(--primary-blue);
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: var(--primary-blue);
    color: var(--primary-white);
  }
}


.body {
  font-family: "JetBrains Mono";
  text-decoration: none;
  h2:nth-child(even) {
    text-align: right;
  }
  h2:nth-child(odd) {
    text-align: left;
  }
  >div {
    position: relative;
    p:nth-child(even) {
      text-align: right;
    }
    p:nth-child(odd) {
      text-align: left;
    }
  }
  @media (min-width: 900px) {
    >div:nth-child(even) {
      padding-left: 200px;
    }
    >div:nth-child(odd) {
      padding-right: 200px;
    }
  }
  h3 {
    margin: 0;
  }
}


.heading {
  position: relative;
  padding: 10px;
  word-break: break-word;
}

.responsive {
  position: relative;
  max-width: 800px;
}

.footer {
  padding-top: 60px;
  text-align: justify;
}
